
.bg-ic{
    background:
    linear-gradient(to bottom, rgba($dark-blue,80%),rgba($dark-blue,80%)),url("./../assets/images/aerial-15669_1280.jpg");
    background-repeat:  no-repeat;
    background-size: 100%;
    background-position: center center;
    background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    height: 45%;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-section-bg{
    height: 90vh;
}
.high-companies{
  min-height: 30vh;
  background-color: rgba(0, 173, 239, 1);
}
.footer-bg{
  min-height: 35vh;
  background-color: rgba(62, 62, 62, 1);
  padding: 20px 100px;
}
.footer-footer{
  min-height: 5vh;
  background-color: rgba(33, 33, 33, 1);
}
