.logo-mb{
    max-height:130px;
}
.titulo-nosotros{
    
    font-family: "Heebo";
    color: #7f7f7f;
    font-size: 56px;
}

.texto-resultado-busqueda-banner{
    line-height : 0px;     
    font-weight: 300;
}

.texto-nosotros{
  
    padding-left: 73px;
    padding-right: 73px;
    font-size: 20px;
    font-family:'Heebo';
    text-align: initial;
    line-height: 100%;
}

@media (max-width: 755px){

   

    .header-posicion{
        margin-top: -22px;


    }

    .footer-movil{
        display: none;
    }


   #carrusel-img-1{
    content:url("resources/assets/images/PaginaWEBContratainternet_Mobile-03.jpg");
   }
   #carrusel-img-2{
    content:url("resources/assets/images/PaginaWEBContratainternet_Mobile-03.jpg");
   }
   #carrusel-img-3{
    content:url("resources/assets/images/PaginaWEBContratainternet_Mobile-03.jpg");
   }
   .texto-nosotros{
    text-align: initial;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    font-family:'Heebo';
    line-height: 100%;
}

.titulo-nosotros{
    font-size: 41px;
    
}
}



@media (min-width: 1200px) {
    .texto-resultado-busqueda-banner{
        line-height : 12px;     
       
    }
    
}
@media (min-width: 1226px) {
    .texto-resultado-busqueda-banner{
        line-height : 0px;     
       
    }
    
}

@media (max-width: 360px) {

    .offer-card-separator10{
        width: 80%;
        height: 1px;
        background: rgb(0,194,214);
      }
    .logo-mb{
        max-height: 91px;
        margin-top: -138px;
        margin-left: 69px;
    
    }
    
}


