
@media (max-width: 755px){
    .header-posicion{
        margin-top: -22px;

    }

    .footer-movil{
        display: none;
    }


   #carrusel-img-1{
    content:url("resources/assets/images/PaginaWEBContratainternet_Mobile-03.jpg");
   }
   #carrusel-img-2{
    content:url("resources/assets/images/PaginaWEBContratainternet_Mobile-03.jpg");
   }
   #carrusel-img-3{
    content:url("resources/assets/images/PaginaWEBContratainternet_Mobile-03.jpg");
   }
  

}




