.filter-card{
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
}
.filter-card-title{
  color: rgba(82, 89, 115, 1);
}
.filter-card-label{
  font-size: 14px;
}
.offer{

}
.offer:after {
    display: block;
    padding-top: 5px;
    content: '';
    border-bottom: solid 4px #000;
    border-radius: 5px;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}
