.text-main-blue{
    color:$main-blue;
}

.text-dark-blue{
    color: $dark-blue;
}

.company-card-label{
    height: 90px;
}

@media (max-width:768px){
    .company-card-label{
        height: 100px;
    }
}

.text-wrap {
    word-break: break-word;
}

@media(min-width:1000px){

    .offers-label{
        font-size: .8rem!important;
    }
    
}

