.text-main-blue{
    color:$main-blue;
}

.text-dark-blue{
    color: $dark-blue;
}

.text-wrap {
    word-break: break-word;
}

@media(min-width:1000px){

    .offers-label{
        font-size: .8rem!important;
    }
    
}

