// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'images';
@import 'btns';
@import 'headers';
@import "backgrounds";
@import "layout";
@import "footer";
// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@font-face{
    font-family: montserrat-bold;
    src: url("./../assets/fonts/Montserrat-Bold.otf");
}

body{
    scroll-behavior: smooth;
    font-family: montserrat-bold;
}
