@import url(https://fonts.googleapis.com/css?family=Nunito);.image-logo-banner {
  width: 14rem;
  height: 9rem;
}

.icon-btn-sm {
  height: 47px;
  width: 47px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.ic-main {
  font-size: 1.1rem;
  color: #13293d;
}

.ic-bg-main {
  background-color: #20adf4;
}

.ic-logo {
  max-height: 40px;
}

.nav-item-border:after {
  display: block;
  content: "";
  border-bottom: solid 3.5px #13293d;
  border-radius: 15px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.nav-item-border.active:after {
  -webkit-transform: scaleX(0.45);
          transform: scaleX(0.45);
}

.nav-item-border:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.bg-ic {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 41, 61, 0.8)), to(rgba(19, 41, 61, 0.8))), url(/images/aerial-15669_1280.jpg?6f5ad98341ec9b61da68265ec3aff73d);
  background: linear-gradient(to bottom, rgba(19, 41, 61, 0.8), rgba(19, 41, 61, 0.8)), url(/images/aerial-15669_1280.jpg?6f5ad98341ec9b61da68265ec3aff73d);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 45%;
  padding: 0;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: flex;
}

.main-section-bg {
  height: 90vh;
}

.high-companies {
  min-height: 30vh;
  background-color: #00adef;
}

.high-plans {
  min-height: 65vh;
}

.footer-bg {
  min-height: 35vh;
  background-color: #3e3e3e;
  padding: 20px 100px;
}

.footer-footer {
  min-height: 5vh;
  background-color: #212121;
}

.ic-logo-grey {
  max-height: 25%;
  padding: 5px 10px;
  border-radius: 35px;
}

.main-search-form {
  width: 65%;
  height: auto;
  border-radius: 60px;
  background-color: #e6e6e6;
}

.main-middle {
  position: absolute;
  top: 13%;
  margin: 1.2rem auto;
  left: 0;
  right: 0;
  height: 45%;
  width: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.main-form-title-container:after {
  display: block;
  content: "";
  border-bottom: solid 3.5px #cdcdcd;
  border-radius: 5px;
  -webkit-transform: scaleX(0.15);
          transform: scaleX(0.15);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.main-form-title {
  color: #20adf4;
  font-size: 1.3rem;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.btn-dark-blue {
  background-color: #13293d;
  color: lightgray;
}

.high-companies-color {
  color: #e6e6e6;
}

.high-companies-title:after {
  display: block;
  padding-top: 5px;
  content: "";
  border-bottom: solid 3.5px rgba(230, 230, 230, 0.8);
  border-radius: 5px;
  -webkit-transform: scaleX(0.25);
          transform: scaleX(0.25);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.high-plans-color {
  color: #535353;
}

.high-plans-title:after {
  display: block;
  padding-top: 5px;
  content: "";
  border-bottom: solid 3.5px #cdcdcd;
  border-radius: 5px;
  -webkit-transform: scaleX(0.25);
          transform: scaleX(0.25);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.footer-img {
  max-height: 130px;
  max-width: 180px;
}

.footer-links {
  margin-top: 30px;
}

.footer-link-border {
  border-left: 3px solid rgba(126, 126, 126, 0.4);
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .footer-link-border {
    border-left: none;
    padding-left: 0px;
    margin-top: 10px;
  }
}

.footer-title-color {
  color: #7e7e7e;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-footer span {
  color: rgba(126, 126, 126, 0.7);
  font-size: 12px;
}

@font-face {
  font-family: montserrat-bold;
  src: url(/fonts/Montserrat-Bold.otf?9c71d42b6a840ecfda8fc555040a1c76);
}

body {
  scroll-behavior: smooth;
  font-family: montserrat-bold;
}

